<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<div class="card w-50">
  <div class="card-body">
    <h3 class="card-title">Create a new order</h3>
    <p class="card-text">Click on the below button to create a new order.</p>
    <a th:href="@{/ui/order/createOrder}" class="btn btn-success">Create</a>
  </div>
</div>

<div class="card w-50">
  <div class="card-body">
    <h3 class="card-title">View Orders</h3>
    <p class="card-text">Click on the below button to view all orders and Generate invoice.</p>
    <a th:href="@{/ui/order/viewOrders}" class="btn btn-info">View</a>
  </div>
</div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<!-- <script th:src="@{/static/order.js}"></script> -->

</body>	

</html>